*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(78, 78, 241);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fidget{
    position: relative;
    height: 80px;
    width: 80px;
    background-color: #f2f2f2;
    border: 5px solid #f2f2f2;
    border-radius: 50%;
    animation: spin 1.5s ease-in-out infinite;
}

@keyframes spin {
    50%{
        transform: rotate(360deg);
    }
}

.circle1,.circle2,.circle3{
    background: transparent;
    height: 80px;
    width: 80px;
    border: 10px solid #f2f2f2;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle1{
    bottom: 90%;
}

.circle2{
    top: 10px;
    left: 90%;
}

.circle3{
    top: 10px;
    right: 90%;
}

.inner1{
    background-color: rgb(252, 106, 106);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.inner2{
    background-color: rgb(50, 50, 126);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.inner3{
    background-color: rgb(109, 109, 45);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

